@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a1a1a1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #235ac0;
  --color-light: rgba(255, 255, 255, 0.65);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-light);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 1px solid var(--border-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-light);
  color: #1a1a1a;
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #000000;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*-----------Restrictions by Screen Size----------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color:rgba(255, 255, 255, 0.87);
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


